/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 2.5;
  font-weight: 700;
  stroke-linejoin: round;
  stroke-dasharray: 70 280;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 20s infinite linear;
  animation: stroke 20s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}
.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
}
.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
}
.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -350;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -350;
  }
}
