// Colors:
@teal: #56D9CD;
@orange: #F5A503;
@pink: #F2385A;
@eggshell: #E9F1DF;
@blue: #3AA1BF;
@navy: #070018;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@font: 'Open Sans', sans-serif;

body {
	margin: 0;
	font-family: @font;
	background-color: @navy;
}

// Hide Scroll bar
#element::-webkit-scrollbar { 
    display: none; 
}

::-webkit-scrollbar { 
    display: none; 
}

// General reusable class styles
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.center-vertical {
	.center;
	flex-direction: column;
}


#splash-section {
	.center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	background-color: @navy;
	#animation-box {
		width: 80vw;
		.center;
		flex-wrap: wrap;
	}
	#text-animation {
		min-width: 500px;
		font: 5em/1 Open Sans, Impact;
		text-transform: uppercase;
		// border: 1px solid red;
		position: relative;
		transition: 0.5s;
		@media (max-width: 700px) {
			font: 4.5em/1 Open Sans, Impact;
			max-height: 100px;
		}
		@media (max-width: 500px) {
			font: 3.5em/1 Open Sans, Impact;
			max-height: 100px;
		}
	}
	#text-animation-2 {
		min-width: 300px;
		// border: 1px solid red;
		font: 4.5em/1 Open Sans, Impact;
		text-transform: uppercase;
		position: relative;
		transition: 0.5s;
		@media (max-width: 700px) {

			font: 4em/1 Open Sans, Impact;
		}
		@media (max-width: 500px) {
			font: 3em/1 Open Sans, Impact;
		}
	}
	#red-line {
		width: 200px;
		height: 6px;
		background-color: red - #333;
	}
	#catch-phrase {
		min-height: 40px;
		padding: 20px 20px 0px 20px;
		color: @eggshell;
		font-size: 24px;
		letter-spacing: 1px;
		text-align: center;
	}
	#buttons {
		.center;
		flex-wrap: wrap;
		color: white;
		width: 70%;
		max-width: 700px;
		div, a {
			flex: 1;
			min-width: 100px;
			padding: 10px 20px;
			margin: 10px;
			border: 1px solid white;
			text-align: center;
			border-radius: 50px;
			transition: 0.4s;
		}
		#resume-button {
			text-decoration: none;
			color: white;
			&:hover {
				background-color: @orange;
				border: 1px solid @orange;
			}
		}
		#email-button {
			&:hover {
				background-color: @pink;
				border: 1px solid @pink;
			}
		}
		#blog-button {
			&:hover {
				background-color: @blue;
				border: 1px solid @blue;
			}
		}
	}
	.list-unstyled {
		padding-left: 0;
		list-style: none;
	}
	.list-inline li {
		display: inline-block;
		padding: 5px;
	}
	.social-icons .icon {
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	.social-icons .icon:hover, .social-icons .icon:active { 
		-webkit-transform: scale(1.1) rotate(360deg);
		-moz-transform: scale(1.1) rotate(360deg);
		-ms-transform: scale(1.1) rotate(360deg);
		-o-transform: scale(1.1) rotate(360deg);
		transform: scale(1.1) rotate(360deg);
	}
}