@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,900);
body {
  font-weight: 700;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #070018;
  overflow-x: hidden;
}
#element::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#splash-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  min-height: 700px;
  margin: 0;
  background-color: #070018;
  position: relative;
}
#splash-section #animation-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#splash-section #text-animation {
  width: 500px;
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s;
}
@media (max-width: 700px) {
  #splash-section #text-animation {
    font: 4.5em/1 Open Sans, Impact;
    max-height: 100px;
  }
}
@media (max-width: 500px) {
  #splash-section #text-animation {
    font: 3.5em/1 Open Sans, Impact;
    max-height: 100px;
  }
}
#splash-section #text-animation-2 {
  min-width: 300px;
  font: 4.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s;
}
@media (max-width: 700px) {
  #splash-section #text-animation-2 {
    font: 4em/1 Open Sans, Impact;
  }
}
@media (max-width: 500px) {
  #splash-section #text-animation-2 {
    font: 3em/1 Open Sans, Impact;
  }
}
#splash-section #red-line {
  width: 200px;
  height: 6px;
  background-color: #cc0000;
}
#splash-section #catch-phrase {
  min-height: 40px;
  padding: 20px 20px 0px 20px;
  color: #E9F1DF;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
}
#splash-section #buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  max-width: 800px;
}
#splash-section #buttons div,
#splash-section #buttons a {
  flex: 1;
  min-width: 100px;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid white;
  text-align: center;
  border-radius: 50px;
  transition: 0.4s;
}
#splash-section #buttons #resume-button {
  text-decoration: none;
  color: white;
}
#splash-section #buttons #resume-button:hover {
  background-color: #F5A503;
  border: 1px solid #F5A503;
}
#splash-section #buttons #email-button:hover {
  background-color: #F2385A;
  border: 1px solid #F2385A;
}
#splash-section #buttons #blog-button {
  text-decoration: none;
  color: white;
}
#splash-section #buttons #blog-button:hover {
  background-color: #3AA1BF;
  border: 1px solid #3AA1BF;
}
@media (max-width: 768px) {
  #splash-section #buttons {
    width: 80vw;
    display: block;
  }
  #splash-section #buttons div,
  #splash-section #buttons a {
    display: block;
  }
}
#splash-section .list-unstyled {
  padding-left: 0;
  list-style: none;
}
#splash-section .list-inline li {
  display: inline-block;
  padding: 5px;
}
#splash-section .social-icons .icon {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#splash-section .social-icons .icon:hover,
#splash-section .social-icons .icon:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}
#splash-section #archives {
  text-align: center;
  position: absolute;
  bottom: 3%;
  color: #4b445c;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 12px;
}
#splash-section #archives .dot {
  font-weight: 900;
}
#splash-section #archives a {
  color: #4b445c;
}
