body {
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: simplifica;
	letter-spacing: 1px;
	margin-bottom:0;
	text-align: center;
}

#main {
	background-image: url("img/laptop.jpeg");
} 

#contactpage {
	background-image: url("img/coffee.jpeg");
}

/* header navigation bar */
.navbar nav {
	height: 40px;

}

.navbar nav ul li {
	color: white;
	list-style: none;
	margin: 5px 25px 0px 0px;
	float: right;
	display: inline-block;
}

.navbar nav a:link, .navbar nav a:visited {
	color: white;
	display: inline-block;
	padding: 10px 25px;
	height: 18px;
	font-size:20px;
	letter-spacing: 2px;
	text-decoration: none;
}

.navbar nav a:hover, .navbar nav a:active, .navbar nav .active a:link, .navbar .active a:visited {
	background-color: rgba(0,0,0,.6);
	text-shadow: none;
	-webkit-transition: all 0.5s ease-in-out;
}

#contact {
	border-style: solid;
	border-width: 2px;
	border-color: white;
}

/* corner logo */ 



#cornerlogo {
	float: left;
	margin-left: 10px;
	margin-top: -10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#cornerlogo:hover{
	-webkit-transform: scale(1.1) rotate(90deg);
	-moz-transform: scale(1.1) rotate(90deg);
	-ms-transform: scale(1.1) rotate(90deg);
	-o-transform: scale(1.1) rotate(90deg);
	transform: scale(1.1) rotate(90deg);
}


#logobox {
	background-color: rgba(0,0,0,.6);
	height: 270px;
	width: 270px;
	margin: auto;
	display: block;
	margin-top: 10%;
}

#logo {
	padding:10px;
}

#hello {
	margin: 3% auto 25% auto;
	width:32%;
	letter-spacing: 3px;
	text-align: center;
	color: white;
}

#info {
	background-color: white;
	color: black;
	height: 400px;
	padding: 10%;
}

#objective {
	background-color: #EDEEEF;
	padding: 50px 150px 50px 150px;
}

h1 {
	letter-spacing: 2px;
}

p {
	font-size: 20px;
	font-family: Avenir Next Condensed;
}


/* footer div */

.footer {
	width: 90%;
	padding: 5%;
	background-color: black;
	text-align: center;
	color: white;
}

#question {
	margin-bottom: 50px;
	letter-spacing: 3px;
	font-size:35px;
}

/* social media links styling */

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 8px;
	padding-left: 8px;
	margin-bottom: 0px;
}

.social-icons .icon {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.social-icons .icon:hover, .social-icons .icon:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

/* footer navigation bar */

.footernav nav {
	height: 40px;
	margin-bottom: 80px;
	margin-left: -35px;
}

.footernav nav ul li {
	color: white;
	list-style: none;
	display: inline-block;
}

.footernav nav a:link, .footernav nav a:visited {
	color: white;
	display: inline-block;
	padding: 10px 25px;
	margin: 10px 35px;
	height: 18px;
	font-size:20px;
	letter-spacing: 4px;
	text-decoration: none;
	border-style: solid;
	border-width: 2px;
	border-color: white;
}

.footernav nav a:hover, .footernav nav a:active, .footernav nav .active a:link, .footernav .active a:visited {
	text-shadow: none;
	-webkit-transition: all 0.3s ease-in-out;
	color: #939086;
	border-color: #939086;
	-webkit-transform: scale(1.06);
	-moz-transform: scale(1.06);
	-ms-transform: scale(1.06);
	-o-transform: scale(1.06);
}


.footernav nav ul li {
	text-align: center;
	margin: 0 auto;
}

/* copyright styling */

footer {
	margin-top: 90px;
	margin-bottom: 60px;
}

/*typing effect*/
.typewriter {
	font-size:25px;
	font-family: simplifica;
	color: black;
	overflow: hidden;
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	typing 5s steps(40, end),
	blink-caret .75s step-end infinite;
}

.cursor {
	border-right: .08em solid black; /* The typwriter cursor */
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

